<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Pacientes</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header><h1>Área do Paciente</h1></header>
<nav>
  <nav>
    <a th:href="@{/}">Início</a>
    <a th:href="@{/profissionais}">Profissional</a>
    <a th:href="@{/emergencias}">Emergência</a>
    <a th:href="@{/autoavaliacoes}">Autoavaliações</a>
    <a th:href="@{/tcc}">TCC</a>
  </nav>

</nav>
<section>
  <form th:action="@{/pacientes}" method="post" class="card">
    <h2>Novo Paciente</h2>
    <input type="text" name="nome" placeholder="Nome" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="humorAtual" placeholder="Humor Atual">
    <button type="submit">Salvar</button>
  </form>

  <div th:each="p : ${pacientes}" class="card">
    <h2 th:text="${p.nome}">Nome</h2>
    <p>Email: <span th:text="${p.email}">email</span></p>
    <p>Humor atual: <span th:text="${p.humorAtual}">humor</span></p>
    <a th:href="@{'/pacientes/delete/' + ${p.id}}">Excluir</a>
  </div>
</section>
</body>
</html>
